{
  "openapi": "3.0.1",
  "info": {
    "title": "Cerios API",
    "description": "API for Volari Digital Solutions.",
    "contact": {
      "name": "Support",
      "email": "servicedesk-nl@volari.com"
    },
    "license": {
      "name": "Volari Digital Solutions",
      "url": "http://volaridigitalsolutions.nl"
    },
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://cerios-prerelease.volaricloud.nl"
    }
  ],
  "paths": {
    "/api/v0.1/ArchiveCompact/Documents/Search": {
      "post": {
        "tags": [
          "Archive compact"
        ],
        "summary": "Search documents",
        "requestBody": {
          "description": "Search parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.DocumentSearch"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.DocumentSearch"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.DocumentSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.Document"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.Document"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.Document"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/ArchiveCompact/Documents/{id}": {
      "get": {
        "tags": [
          "Archive compact"
        ],
        "summary": "Gets a documents by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the document",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.Document"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.Document"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.Document"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/ArchiveCompact/Archives": {
      "get": {
        "tags": [
          "Archive compact"
        ],
        "summary": "Get the archives",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.Archive"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.Archive"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.Archive"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/ArchiveCompact/Files": {
      "get": {
        "tags": [
          "Archive compact"
        ],
        "summary": "Get the file",
        "parameters": [
          {
            "name": "downloadInfo",
            "in": "query",
            "description": "download info string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "filename name of the downloaded file",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Archive compact"
        ],
        "summary": "Uploads a file and returns the id",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "formFile": {
                    "type": "string",
                    "description": "The file",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "formFile": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/ArchiveCompact/Documents": {
      "post": {
        "tags": [
          "Archive compact"
        ],
        "summary": "Creates a new document",
        "requestBody": {
          "description": "The document to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.DocumentCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.DocumentCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.ArchiveCompact.DocumentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/Asbestos/Project": {
      "post": {
        "tags": [
          "Asbestos"
        ],
        "summary": "Create asbestos project",
        "requestBody": {
          "description": "The asbestos project",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosProject"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosProject"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosProject"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/Asbestos/Project/{id}": {
      "put": {
        "tags": [
          "Asbestos"
        ],
        "summary": "Update asbestos project",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The asbestos project id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The asbestos project",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosProject"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosProject"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosProject"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v0.1/Asbestos/Source": {
      "post": {
        "tags": [
          "Asbestos"
        ],
        "summary": "Create asbestos source",
        "requestBody": {
          "description": "The asbestos source",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosSource"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosSource"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosSource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/Asbestos/Source/{id}": {
      "put": {
        "tags": [
          "Asbestos"
        ],
        "summary": "Update asbestos source",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The asbestos source id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The asbestos source",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosSource"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosSource"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosSource"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v0.1/Asbestos/Task": {
      "post": {
        "tags": [
          "Asbestos"
        ],
        "summary": "Create asbestos task",
        "requestBody": {
          "description": "The asbestos task",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosTask"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosTask"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosTask"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/Asbestos/Task/{id}": {
      "put": {
        "tags": [
          "Asbestos"
        ],
        "summary": "Update asbestos task",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The asbestos task id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The asbestos task",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosTask"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosTask"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Asbestos.AsbestosTask"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v0.1/{companyId}/AddressBook/Search": {
      "get": {
        "tags": [
          "Address book"
        ],
        "summary": "Search addressbook",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ReferenceType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DisplayName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Birthdate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "GenderId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MobilePhone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ZipCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HouseNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HouseNumberAddition",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Street",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "City",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ChamberOfCommerceNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ChamberOfCommerceCity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "VatNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.AddressBook.AddressBook"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.AddressBook.AddressBook"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.AddressBook.AddressBook"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/AddressBook/Relations/Search": {
      "get": {
        "tags": [
          "Address book"
        ],
        "summary": "Get Addressbook relations",
        "parameters": [
          {
            "name": "CompanyId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ReferenceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ReferenceType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RoleID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ValidFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.AddressBook.AddressBookRelationEntity"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.AddressBook.AddressBookRelationEntity"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.AddressBook.AddressBookRelationEntity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/AddressBook/{id}/CustomerOverview": {
      "get": {
        "tags": [
          "Address book"
        ],
        "summary": "Get Companies from Addressbook id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.AddressBook.AddressBookCustomerCompany"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.AddressBook.AddressBookCustomerCompany"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.AddressBook.AddressBookCustomerCompany"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/Addresses/ZipCode/{zipcode}": {
      "get": {
        "tags": [
          "Address book"
        ],
        "summary": "Gets an address by zipcode and housenumber",
        "parameters": [
          {
            "name": "zipcode",
            "in": "path",
            "description": "Zipcode and housenumber of an address (e.g. 1234AA 1)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Addresses.LogisticsAddress"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Addresses.LogisticsAddress"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Addresses.LogisticsAddress"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/Bailiff/DebtSettlements/Search": {
      "get": {
        "tags": [
          "Bailiff"
        ],
        "summary": "Search active debtsettlements for the bailiff based on the search parameters.",
        "parameters": [
          {
            "name": "DebtSettlementId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DossierId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomerName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ContractId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Address",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OnlyOrganization",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.DebtSettlementSearchResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.DebtSettlementSearchResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.DebtSettlementSearchResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Bailiff/DebtSettlements/{id}/CustomerVerdicts": {
      "get": {
        "tags": [
          "Bailiff"
        ],
        "summary": "Getting the debtsettlement verdicts",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the debtSettlement.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.CustomerVerdict"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.CustomerVerdict"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.CustomerVerdict"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Bailiff/Customers/{id}/CustomerVerdicts": {
      "get": {
        "tags": [
          "Bailiff"
        ],
        "summary": "Getting the customer debtsettlement verdicts",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.CustomerVerdict"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.CustomerVerdict"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.CustomerVerdict"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Bailiff/DebtSettlements/{id}": {
      "get": {
        "tags": [
          "Bailiff"
        ],
        "summary": "Getting the debtsettlement for the bailiff",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the debtSettlement.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.BailiffDebtSettlement"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.BailiffDebtSettlement"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.BailiffDebtSettlement"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Bailiff/DebtSettlements/{id}/Transactions": {
      "get": {
        "tags": [
          "Bailiff"
        ],
        "summary": "Getting the debtsettlement transactions",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the debtSettlement.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.DebtSettlementTransaction"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.DebtSettlementTransaction"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.DebtSettlementTransaction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Bailiff/Customers/{id}/DebtSettlementsActive": {
      "get": {
        "tags": [
          "Bailiff"
        ],
        "summary": "Getting the active customer bailiffdebtsettlements",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.BailiffDebtSettlement"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.BailiffDebtSettlement"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.BailiffDebtSettlement"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Bailiff/DebtSettlements/{id}/SetContact": {
      "put": {
        "tags": [
          "Bailiff"
        ],
        "summary": "Sets the current user as contact for the debtsettlement",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "The company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the debtSettlement.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "enable true adds the user as contact, false removes the user as contact. Default true when omitted",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.BailiffDebtSettlementSetContact"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.BailiffDebtSettlementSetContact"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.BailiffDebtSettlementSetContact"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.BailiffDebtSettlement"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.BailiffDebtSettlement"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Customers.BailiffDebtSettlement"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/CommunityNotificationTypes": {
      "get": {
        "tags": [
          "Community notifications"
        ],
        "summary": "Get the active community notifications types",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationType"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationType"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/CommunityNotificationAgressions": {
      "get": {
        "tags": [
          "Community notifications"
        ],
        "summary": "Get the active community notifications aggresions",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationAggression"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationAggression"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationAggression"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/CommunityNotificationSubjects": {
      "get": {
        "tags": [
          "Community notifications"
        ],
        "summary": "Get the active community notifications subjects",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationSubject"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationSubject"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationSubject"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/CommunityNotificationImportances": {
      "get": {
        "tags": [
          "Community notifications"
        ],
        "summary": "Get the active community notifications importances",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationImportance"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationImportance"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationImportance"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/CommunityNotificationUrgencies": {
      "get": {
        "tags": [
          "Community notifications"
        ],
        "summary": "Get the active community notifications urgencies",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationUrgency"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationUrgency"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationUrgency"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/CommunityNotificationRoles": {
      "get": {
        "tags": [
          "Community notifications"
        ],
        "summary": "Get the active community notifications roles",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationRole"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationRole"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationRole"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Employees/{id}/CommunityNotifications": {
      "get": {
        "tags": [
          "Community notifications"
        ],
        "summary": "Get the community notifications of an employee",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the employee",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TypeId",
            "in": "query",
            "description": "Type of notifications. Multiple input comma separated, example: Nuisance, Complaints",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "The start date of the notification",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "The end date of the notification",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "StatusId",
            "in": "query",
            "description": "All, Active or Closed",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotification"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotification"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotification"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Community notifications"
        ],
        "summary": "Create a community notification record of an employee",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the employee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The community notification",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Persons/{id}/CommunityNotifications": {
      "get": {
        "tags": [
          "Community notifications"
        ],
        "summary": "Get the community notifications of a person as a caller or causer",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the person",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RoleTypeId",
            "in": "query",
            "description": "Melder or Veroorzaker",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TypeId",
            "in": "query",
            "description": "Type of notifications. Multiple input comma separated, example: Nuisance, Complaints",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "The start date of the notification",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "The end date of the notification",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "StatusId",
            "in": "query",
            "description": "All, Active or Closed",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotification"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotification"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotification"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Organizations/{id}/CommunityNotifications": {
      "get": {
        "tags": [
          "Community notifications"
        ],
        "summary": "Get the community notifications of a organization as a caller or causer",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RoleTypeId",
            "in": "query",
            "description": "Melder or Veroorzaker",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TypeId",
            "in": "query",
            "description": "Type of notifications. Multiple input comma separated, example: Nuisance, Complaints",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "The start date of the notification",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "The end date of the notification",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "StatusId",
            "in": "query",
            "description": "All, Active or Closed",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotification"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotification"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotification"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/CommunityNotifications/{id}/ActionPlans": {
      "get": {
        "tags": [
          "Community notifications"
        ],
        "summary": "Get the community notification actionplan",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the community notification",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationActionPlan"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationActionPlan"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.CommunityNotification.CommunityNotificationActionPlan"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get a contract by id.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.Contract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.Contract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.Contract"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/Terminate": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Terminate an active contract.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The termination parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractTermination"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractTermination"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractTermination"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/MutationVacancy": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Sets a contract to \"mutation vacancy\"",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the contract",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/Activate": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Activate a contract with status quotation.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The activation parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractActivation"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractActivation"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractActivation"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/RealEstateObjects": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get a realEstateObject by contract.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.RealEstateObject"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.RealEstateObject"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.RealEstateObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/Relations": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get contractRelations by contract.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allRelations",
            "in": "query",
            "description": "Get all contract contact relations (default is set to false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractRelation"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractRelation"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractRelation"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Creates a new contract relation.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The contract relation to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractRelationCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractRelationCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractRelationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/Relations/Search": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Search contractRelations.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceType",
            "in": "query",
            "description": "ReferenceType of contractRelations. Person or Organization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceId",
            "in": "query",
            "description": "ReferenceId of contractRelations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactType",
            "in": "query",
            "description": "ContactType of contractRelations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "ContactId of contractRelations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "query",
            "description": "RoleId of contractRelations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validFrom",
            "in": "query",
            "description": "Valid date of contractRelations.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractRelationSearch"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractRelationSearch"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractRelationSearch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/Ended/Relations/Search": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Search ended contractRelations.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceType",
            "in": "query",
            "description": "ReferenceType of contractRelations. Person or Organization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceId",
            "in": "query",
            "description": "ReferenceId of contractRelations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactType",
            "in": "query",
            "description": "ContactType of contractRelations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "ContactId of contractRelations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "query",
            "description": "RoleId of contractRelations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validFrom",
            "in": "query",
            "description": "Valid date of contractRelations.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractRelationSearch"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractRelationSearch"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractRelationSearch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/Prices": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get contract prices by contract.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPrice"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPrice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPrice"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/HistoricPrices": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get historic contract prices by contract.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPrice"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPrice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPrice"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/FuturePrices": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get future contract prices by contract.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPrice"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPrice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPrice"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/End": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Ending an terminated (cessation) contract.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The ending contract parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractEnd"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractEnd"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractEnd"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/Cancel": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Cancel a preliminary contract.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/FirstRentInvoice": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create first rental invoice.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateInvoiceUntil",
            "in": "query",
            "description": "Optional date invoice until.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Voucher id": {
                "description": "The voucher id of the first rental invoice",
                "schema": {
                  "type": "string",
                  "description": "The voucher id of the first rental invoice",
                  "format": ""
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create a contract, status is preliminary.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The contract to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Contract id": {
                "description": "The contractId",
                "schema": {
                  "type": "string",
                  "description": "The contractId",
                  "format": ""
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/Inspections": {
      "post": {
        "tags": [
          "Inspection"
        ],
        "summary": "Create an inspection for a contract.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The post inpsection parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Inspection.InspectionCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Inspection.InspectionCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Inspection.InspectionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/Components": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create a rentcomponent for a contract.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The post rentcomponent parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.RentComponentCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.RentComponentCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.RentComponentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.General.Created"
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/TerminationReasons": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get contract termination reasons.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractTerminationReason"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractTerminationReason"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractTerminationReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/PriceAdjustmentReasons": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get contract price adjustment reasons.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPriceAdjReason"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPriceAdjReason"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPriceAdjReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{id}/PriceAdjustments": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get contract price adjustments.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of a contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Date of first adjustment to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Category of the component.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPriceAdjustment"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPriceAdjustment"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPriceAdjustment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v0.1/{companyId}/Contracts/{contractId}/Components/{id}": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Mutate price adjustment components.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Id of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "path",
            "description": "Id of the contract.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the component.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New price component information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Messier.Libraries.Cerios.Entities.Contracts.ContractPriceAdjustmentUpdate"
              }
            },
            "text/json": {
              "schema": {
[...]
